@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css');

:root {
  --space: 1rem;
  --page-width: 80ch;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  --text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px,
    rgba(255, 255, 255, 0.4) 0 -4px 30px;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #44555d;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
  scroll-snap-type: y proximity;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
* {
  font-family: 'Philosopher', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  max-width: 100vw;
  margin: 0;
  background-color: #7b849a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a4acbf' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  will-change: opacity, transform;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

main {
  line-height: 1.5;
  color: #000;
  background-color: #becdf0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23677086' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  box-shadow: inset lightgray 0 -1px 0, rgba(0, 0, 0, 0.15) 0 3px 10px 0;
}

.shield-top {
  transition: transform 1s ease;
  margin: 3% 0%;
  width: 140px;
  height: 140px;
  animation: in-out 1s infinite alternate;
}

/* @keyframes in-out {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
} */
.shield-top:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#box-container {
  align-items: center;
  margin: auto;
  text-shadow: var(--text-shadow);
}

.subtitle {
  font-style: italic;
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.25;
}
p {
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 100vw;
    padding-left: 12%;
    padding-right: 12%;
  }
  h1 {
    font-size: 400%;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
.navbar {
  background-color: #fffff0;
}
.navbar-nav a {
  overflow: hidden;
}
.navbar-nav a {
  color: #3a3a3d;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-out;
}
.navbar-nav a::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  margin-bottom: 0;
  background-color: #748597;
  transform: translateX(-112%);
  transition: all 0.3s ease-out;
}
.navbar-nav a:hover {
  color: #000;
  transition: all 0.3s ease-out;
}

.navbar-nav a:hover::after {
  transition: all 0.3s ease-out;
  transform: translateX(-10%);
}

.nav-link {
  font-size: large;
  position: relative;
  cursor: pointer;
}

.placeholder-section {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  background: repeating-conic-gradient(ivory, #e3e0cf 20deg);
  color: #000;
  box-shadow: inset lightgray 0 -1px 0, rgba(0, 0, 0, 0.15) 0 3px 10px 0;
}

.page-sections {
  margin: 0 auto;
  max-width: var(--page-width);
}

.page-section {
  margin: calc(var(--space) * 2) 0;
  padding: calc(var(--space) * 2) var(--space);
  scroll-snap-align: start;
}

.page-section > * + * {
  margin-top: calc(var(--space) * 1.5);
}

.section-title {
  margin-bottom: 50px;
  color: #000;
  padding: 10px;
  border: 1px solid #f7f7f7;
  border-radius: 0.5rem;
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
  background: rgb(104, 113, 135);
  background: linear-gradient(
    180deg,
    rgba(104, 113, 135, 1) 0%,
    rgba(187, 202, 246, 1) 100%,
    rgba(13, 16, 18, 1) 100%
  );
}

.section-title:hover {
  color: #fffff0;
  border: 1px solid #666;
  transition: all 0.2s ease-in;
  box-shadow: 0px 5px 5px 0px rgba(255, 255, 240, 1);
  cursor: pointer;
}
/* Accordion---------------------*/
.accordion {
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.card-header {
  color: #000;
  background: rgb(104, 113, 135);
  background: linear-gradient(
    180deg,
    rgba(104, 113, 135, 1) 0%,
    rgba(187, 202, 246, 1) 100%,
    rgba(13, 16, 18, 1) 100%
  );
}
.card-body {
  background: rgba(187, 202, 246);
  color: #000;
  transition: 0.4s;
}

.my-auto {
  color: #000;
  text-shadow: var(--text-shadow);
  text-decoration: 0;
  outline-style: 0;
}

.my-auto:hover {
  color: #f7f7f7;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.accordion:hover {
  color: #f7f7f7;
  transition: all 0.2s ease-in;
}

/*---------About section---------------*/
.scale {
  perspective: 1000px;
  will-change: transform;
}
.one {
  color: #f7f7f7;
  font-weight: lighter;
  border: 0.5px solid #f7f7f7;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  padding: 10px;
  border-radius: 0.5rem;
  background: rgb(104, 113, 135);
  cursor: pointer;
  transition: all 0.7s ease-out;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 769px) {
  .one:hover {
    color: #191c20;
    background: #dee5fb;
    border: 0.5px solid #000;
    transform: scale(1.2);
    box-shadow: var(--box-shadow);
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.logo:hover {
  box-shadow: 0px 5px 5px 0px rgba(255, 255, 240, 1);
}

@keyframes wobble-vertical-on-hover {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wobble-vertical-on-hover {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.logo {
  width: 210px;
  height: 81px;
  border-radius: 0.5rem;
  transform: perspective(1px) translateZ(0);
  box-shadow: var(--box-shadow);
}

.logo:hover,
.logo:focus,
.logo:active {
  animation-name: wobble-vertical-on-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  box-shadow: 0px 5px 5px 0px rgba(255, 255, 240, 1);
  cursor: pointer;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px 15px;
}
/*-------------Price Cards------------*/
.priceCard {
  width: 300px;
  max-height: 600px;
  border: 1px solid #f7f7f7;
  background: rgb(104, 113, 135);
  background: linear-gradient(
    180deg,
    rgba(104, 113, 135, 1) 0%,
    rgba(187, 202, 246, 1) 100%,
    rgba(13, 16, 18, 1) 100%
  );

  color: #000;
  text-align: left;
  border-radius: 0.5rem;
  padding-right: 1rem;
  box-shadow: var(--box-shadow);
  transition: 0.2s ease-out;
}
.cards {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.priceCard ul {
  list-style-type: circle;
}

.priceCard ul li::marker {
  font-size: 1rem;
  color: #f7f7f7;
}

.priceCard:not(:first-child) {
  margin-left: -12.5rem;
}

.priceCard:hover {
  transform: translateY(-1rem);
  color: #f7f7f7;
  cursor: pointer;
}

.priceCard:hover ~ .priceCard {
  transform: translateX(12rem);
  cursor: pointer;
}
/*-----------Contact Form--------------*/

.form-container {
  background: rgb(104, 113, 135);
  background: linear-gradient(
    180deg,
    rgba(104, 113, 135, 1) 0%,
    rgba(187, 202, 246, 1) 100%,
    rgba(13, 16, 18, 1) 100%
  );
  border: 1px solid #f9f9f9;
  border-radius: 0.5rem;
  padding: 40px;
  margin-right: 10%;
  margin-left: 10%;
  color: #000;
  box-shadow: var(--box-shadow);
  transition: transform 0.5s ease;
}
.form-container:hover {
  transform: scale(1.1);
}
.custom-btn[type='submit'] {
  background: rgb(104, 113, 135);
  background: linear-gradient(
    180deg,
    rgba(104, 113, 135, 1) 0%,
    rgba(187, 202, 246, 1) 100%,
    rgba(13, 16, 18, 1) 100%
  );
  color: #fffff7;
  border: 1px solid #fffff7;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 0.7rem 1.4rem;
  transition: all 0.1s ease-in;
}

.custom-btn[type='submit']:hover,
.custom-btn[type='submit']:focus {
  box-shadow: none;
  background-color: #f7f7f7;
  color: #000;
  outline: 0;
}
.custom-btn[type='submit']:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.5);
}

.placeholder-footer {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%2383c0fe' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  height: auto;
  line-height: 80%;
  overflow: auto;
  color: #000;
  text-shadow: var(--text-shadow);
}

.impressum {
  margin: 0 auto;
  padding: 2em;
}

a {
  color: #000;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}

.shield-flip {
  width: 110px;
  height: auto;
  margin: auto;
  border-radius: 50%;
  cursor: url(img/glove2.png), auto;
}
.flip-card {
  align-items: center;
  margin: auto;
  background-color: transparent;
  width: 110px;
  height: 110px;
  perspective: 1000px;
  cursor: url(img/glove2.png), auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-out;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  cursor: url(img/glove2.png), auto;
}
@media screen and (max-width: 1400px) {
  h1 {
    font-size: 300%;
  }
  .shield-top {
    transition: transform 1s;
    margin: 3% 0%;
    width: 130px;
    height: auto;
  }
  .shield {
    transition: transform 1s;
    margin: 2% 0%;
    width: 90px;
    height: auto;
  }
  h2 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 860px) {
  #main-content,
  html {
    font-size: large;
    justify-content: center;
    color: #fffff0;
  }
  h1 {
    font-size: 200%;
    color: #000;
  }
  .shield-top {
    transition: transform 1s;
    margin: 3% 0%;
    width: 120px;
    height: auto;
  }
  .shield {
    transition: transform 1s;
    margin: 2% 0%;
    width: 80px;
    height: auto;
  }
  h2 {
    font-size: 1.3rem;
  }
  .cards {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    cursor: pointer;
  }
  .cards::-webkit-scrollbar {
    height: 6px;
  }

  .cards::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .cards::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

  .form-container {
    margin-right: 5%;
    margin-left: 5%;
  }
  .shield-flip {
    width: 80px;
    height: auto;
    margin: auto;
  }
  .flip-card {
    align-items: center;
    margin: auto;
    background-color: transparent;
    width: 80px;
    height: 80px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  footer {
    height: 250em;
  }
}
@media screen and (max-width: 600px) {
  #main-content,
  html {
    font-size: large;
    justify-content: center;
    color: #fffff0;
  }
  h1 {
    font-size: 140%;
  }
  .shield-top {
    transition: transform 1s;
    width: 110px;
    height: auto;
  }
  .shield {
    transition: transform 1s;
    margin: 2% 0%;
    width: 70px;
  }
  h2 {
    font-size: 1.2rem;
  }
  .form-container {
    margin-right: 2%;
    margin-left: 2%;
  }
  .shield-flip {
    width: 80px;
    height: auto;
    margin: auto;
  }
  .flip-card {
    align-items: center;
    margin: auto;
    background-color: transparent;
    width: 80px;
    height: 80px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
}
